.navbar{
    top:0;
    left:0;
    right:0;
    position:fixed;

    
    width:100%;
    height:50px;
    background: linear-gradient(90deg, rgba(0,127,255,1) 0%, rgba(47,47,156,1) 45%, rgba(20,12,148,1) 87%);

}

